        * {
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }

        body {
            margin: 0;
            background: linear-gradient(135deg, #c40c0c, #111827, #ffffff);
            background-size: 600% 600%;
            animation: gradientAnimation 22s ease infinite;
        }

        @keyframes gradientAnimation {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        .main-content {
            margin-left: 260px;
            padding: 30px;
            transition: .3s;
        }


        .form-container {
            max-width: 650px;
            margin: auto;
            margin-top: 40px;

            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(18px);
            padding: 30px;
            border-radius: 20px;
            color: #fff;
        }

        /* TITULOS */
        h2,
        h4 {
            text-align: center;
            margin-bottom: 12px;
            padding-top: 20px;
        }

        .bx-home,
        .bx-list-ul,
        .bx-plus-circle,
        .bx-edit-alt,
        .bx-check-square,
        .bx-calendar,
        .bx-refresh,
        .bx-bar-chart,
        .bx-cog,
        .bx-file {
            font-size: 28px;
            color: #60a5fa;
            margin-right: 9px;

        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: 600;
        }

        input,
        select {
            width: 100%;
            padding: 12px;
            margin-bottom: 18px;
            border: none;
            border-radius: 12px;
            outline: none;
        }

        input:focus,
        select:focus {
            box-shadow: 0 0 0 3px rgba(96, 165, 250, .4);
        }

        .submit-btn {
            width: 100%;
            padding: 14px;
            background: linear-gradient(135deg, #60a5fa, #2563eb);
            border: none;
            border-radius: 12px;
            color: white;
            font-weight: 600;
            cursor: pointer;
            transition: .3s;
        }

        .submit-btn:hover {
            transform: translateY(-2px);
            box-shadow: 0 8px 20px rgba(37, 99, 235, .4);
        }

        .volver {
            display: inline-block;
            margin-top: 20px;
            padding: 12px 20px;
            background: #111827;
            color: #fff;
            text-decoration: none;
            border-radius: 10px;
        }

        .volver:hover {
            background: #1f2937;
        }
