        * {
            box-sizing: border-box;
            font-family: Montserrat;
        }

        body {
            margin: 0;
            background: linear-gradient(135deg, #c40c0c, #111827, #ffffff);
            background-size: 600% 600%;
            animation: gradientAnimation 22s ease infinite;
        }

        @keyframes gradientAnimation {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        .main-content {
            margin-left: 260px;
            padding: 35px;
        }

        .card {
            background: rgba(255, 255, 255, .12);
            backdrop-filter: blur(18px);
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0 12px 35px rgba(0, 0, 0, .35);
            margin-bottom: 30px;
            color: white;
        }

        /* TITULOS */
        h2,
        h4 {
            text-align: center;
            margin-bottom: 12px;
            padding-top: 20px;
        }

        .logo-title {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: .8px;
            margin-top: 57px;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            transition: .3s;
        }

        /* Normal */
        .logo-full {
            display: inline;
        }

        .logo-short {
            display: none;
        }


        /* Cuando sidebar se colapsa */

        body.sidebar-collapsed .logo-full {
            display: none !important;
        }

        body.sidebar-collapsed .logo-short {
            display: inline !important;
            font-size: 20px;
            letter-spacing: 2px;
        }


        /* MUY IMPORTANTE:
evita que la regla general oculte el span DSI */
        body.sidebar-collapsed .sidebar .logo-short {
            display: inline !important;
        }

        
                /* OCULTAR TEXTO DEL MENU AL COLAPSAR */
        .sidebar a span {
            display: flex;
            transition: .3s;
        }

        body.sidebar-collapsed .sidebar a span {
            display: none !important;
        }

        /* Centrar iconos cuando se colapsa */
        body.sidebar-collapsed .sidebar a {
            justify-content: center;
            padding-left: 0;
        }

        .kpis {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            gap: 20px;
        }

        .kpi {
            background: rgba(255, 255, 255, .15);
            padding: 25px;
            border-radius: 18px;
            text-align: center;
        }

        .kpi h1 {
            margin: 0;
            font-size: 38px;
        }

        input,
        select,
        textarea {
            width: 100%;
            padding: 12px;
            border: none;
            border-radius: 12px;
            margin-bottom: 15px;
        }

        .btn {
            background: linear-gradient(135deg, #2563eb, #1d4ed8);
            color: #fff;
            border: none;
            padding: 12px 20px;
            border-radius: 10px;
            cursor: pointer;
        }


        .btn-green {
            background: linear-gradient(135deg, #16a34a, #15803d);
            color: white;
            cursor: pointer;
            padding: 12px;
            border: none;
            border-radius: 10px;
            margin-bottom: 15px;
        }

        .btn.btn-orange {
            background: #d97706;
            color: #fff;
            border: none;
            padding: 10px 16px;
            border-radius: 10px;
            cursor: pointer;
        }

        .btn:hover,
        .btn-green:hover,
        .btn-orange:hover {
            transform: translateY(-2px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, .2);
        }

        .bx-home,
        .bx-list-ul,
        .bx-plus-circle,
        .bx-edit-alt,
        .bx-check-square,
        .bx-calendar,
        .bx-refresh,
        .bx-bar-chart,
        .bx-cog,
        .bx-file {
            font-size: 28px;
            color: #60a5fa;
            margin-right: 9px;

        }

        table {
            width: 100%;
            border-collapse: collapse;
            background: #fff;
            color: #111;
            border-radius: 14px;
            overflow: hidden;
        }

        
        .paginacion {
            margin-top: 25px;
            display: flex;
            justify-content: center;
            gap: 8px;
            flex-wrap: wrap;
        }

        .paginacion a {
            padding: 10px 14px;
            border-radius: 8px;
            background: white;
            text-decoration: none;
            font-weight: 600;
            color: #111827;
            transition: 0.2s;
        }

        .paginacion a:hover {
            transform: translateY(-4px);
        }

        .activo-pagina {
            background: #2563eb !important;
            color: white !important;
        }

        th {
            background: #111827;
            color: #fff;
        }

        th,
        td {
            padding: 12px;
            border-bottom: 1px solid #ddd;
            text-align: center;
        }

        .badge {
            padding: 7px 14px;
            border-radius: 18px;
            font-weight: 600;
            color: white;
        }

        .programado {
            background: #2563eb;
        }

        .ejecutado {
            background: #16a34a;
        }

        .vencido {
            background: #dc2626;
        }

        .reprogramado {
            background: #d97706;
        }

        .acciones {
            display: flex;
            gap: 8px;
            justify-content: center;
        }

        .alerta {
            background: #ffd166;
            padding: 12px;
            border-radius: 10px;
            margin-bottom: 15px;
            color: #111;
            font-weight: 600;
        }

        @media(max-width:768px) {
            .main-content {
                margin-left: 70px;
                padding: 20px;
            }
        }