        * {
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }

        body {
            margin: 0;
            background: linear-gradient(135deg, #c40c0c, #111827, #ffffff);
            background-size: 600% 600%;
            animation: gradientAnimation 22s ease infinite;
        }

        @keyframes gradientAnimation {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        .main-content {
            margin-left: 260px;
            padding: 35px;
            transition: .3s;
        }

        body.sidebar-collapsed .main-content {
            margin-left: 70px;
        }

        .card {
            background: rgba(255, 255, 255, .12);
            backdrop-filter: blur(18px);
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0 12px 35px rgba(0, 0, 0, .35);
            color: white;
            margin-bottom: 30px;
        }

        /* TITULOS */
        h2,
        h4 {
            text-align: center;
            margin-bottom: 12px;
            padding-top: 20px;
        }


        /* CONTENIDO */
        .container {
            margin-left: 260px;
            transition: all 0.3s ease;
        }


        /* ===============================
MODO MÓVIL
=============================== */
        @media (max-width: 768px) {

            /* Contenido ocupa todo */
            .container {
                margin-left: 0;
                padding: 20px;
            }


            /* TABLA SCROLL */
            .card table {
                display: block;
                overflow-x: auto;
                white-space: nowrap;
            }
        }

        .paginacion {
            margin-top: 25px;
            display: flex;
            justify-content: center;
            gap: 8px;
            flex-wrap: wrap;
        }

        .paginacion a {
            padding: 10px 14px;
            border-radius: 8px;
            background: white;
            text-decoration: none;
            font-weight: 600;
            color: #111827;
            transition: 0.2s;
        }

        .paginacion a:hover {
            transform: translateY(-4px);
        }

        .activo-pagina {
            background: #2563eb !important;
            color: white !important;
        }



        .filtros {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            gap: 15px;
        }

        input,
        select {
            width: 100%;
            padding: 12px;
            border: none;
            border-radius: 12px;
        }

        button {
            border: none;
            cursor: pointer;
        }

        .btn-search {
            padding: 12px;
            border-radius: 12px;
            background: linear-gradient(135deg, #2563eb, #1d4ed8);
            color: white;
            font-weight: 600;
        }

        .btn-search:hover {
            transform: translateY(-2px);
        }

        .bx-home,
        .bx-list-ul,
        .bx-plus-circle,
        .bx-edit-alt,
        .bx-check-square,
        .bx-calendar,
        .bx-refresh,
        .bx-bar-chart,
        .bx-cog,
        .bx-file {
            font-size: 28px;
            color: #60a5fa;
            margin-right: 9px;

        }


        table {
            width: 100%;
            border-collapse: collapse;
            background: rgba(255, 255, 255, .94);
            color: #111;
            border-radius: 12px;
            overflow: hidden;
        }

        th {
            background: #111827;
            color: #fff;
        }

        th,
        td {
            padding: 12px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        .badge {
            padding: 6px 14px;
            border-radius: 20px;
            font-size: 13px;
            font-weight: 600;
        }

        .activo {
            background: #16a34a;
            color: white;
        }

        .reparacion {
            background: #d97706;
            color: white;
        }

        .baja {
            background: #dc2626;
            color: white;
        }

        .btn-hv {
            background: #2563eb;
            color: white;
            padding: 8px 14px;
            border-radius: 8px;
        }

        .btn-new {
            display: inline-block;
            margin-top: 25px;
            padding: 14px 25px;
            border-radius: 12px;
            background: linear-gradient(135deg, #16a34a, #15803d);
            color: white;
            text-decoration: none;
            font-weight: 600;
        }

        .btn-new:hover {
            transform: translateY(-2px);
        }

        @media(max-width:768px) {
            .main-content {
                margin-left: 70px;
                padding: 20px;
            }

            table {
                font-size: 12px;
            }
        }